{% extends 'base.html.twig' %}

{% block body %}
<article>
    <p>
        Many incremental changes will after some time transform what is pathetic into something grand.
    </p>
</article>
{% endblock %}